.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}

@media (min-width: 350px) and (max-width: 800px){
    .main-page__content {
        padding: 55px calc(45% - 350px);
    }

    .main-page__favorites{
        display: none;
    }

    .main-page__main-section{
        width: 80%;
        margin: auto;
    }
}